

  <body>
    
    <div class="wrapper">
          <div class="main">
            
            <div class="login">
              <form class="form-cont">
                  <h1>Login</h1>
                  <input type="text" placeholder="username" id="username">
                  <input type="password" placeholder="password" id="password">
                  <input type="submit" value="Login">
                </form>       
              </div> <!--end of login div-->
              
              <div class="register">
                <form action="" class="form-cont">
                  <h1>Register</h1>
                  <input type="text"  placeholder="username" id="username">
                  <input type="email" placeholder="email" id="email">
                  

                  <input type="password" placeholder="password" class="password">
                  <input type="password" placeholder="confirm password" class="password">            
                  <input type="submit" value="Register">
                </form>
              </div>
          </div>
                   
        </div>
        
  </body>

